version: '3.8'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: medical_warehouse
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/medical_warehouse
    depends_on:
      - db
    volumes:
      - .:/app

volumes:
  postgres_data: